.card-flip > div {
    backface-visibility: hidden;
    transition: transform 800ms;
    transition-timing-function:linear;
    height: 300px; 
    width: 100%;
    margin: 0;
    display: flex;

  }
  
  .card-front {
    transform: rotateY(0deg);
    height: 200px;
  }
  
  .card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
  }
  
  .card-flip:hover .card-front {
    transform: rotateY(-180deg);
  }
    
  .card-flip:hover .card-back {
    transform: rotateY(0deg);
  }