@media screen and (min-width: 600px) {
    .card-img-overlay-s{
    
        position:absolute;
        top:0;
        right:0;
        bottom:0;
        left:0;
        padding:1rem;
        border-radius:calc(.25rem - 1px)
    }
}
